@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: #000;
  font-family: Inter, Helvetica, Arial, Sans-Serif !important;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, Helvetica, Arial, Sans-Serif !important;
}
